https://app.flourish.studio/visualisation/1571387/edit

In [11]:
# storing and analysing data
import pandas as pd

In [12]:
# read data
df = pd.read_csv('covid_19_clean_complete.csv')

# group by Date and Country
df = df.groupby(['Date', 'Country/Region'])['Confirmed'].sum().reset_index()

# fix datetime format
df['Date'] = pd.to_datetime(df['Date'])

# sort dataframe by 'Date'
df = df.sort_values('Date')

# pivot by making 'Country' as index and 'Date' as columns
df = df.pivot(index='Country/Region', columns='Date', values='Confirmed').reset_index()

df.columns = [str(col)[:-8] for col in df.columns]

# first few rows
df.head()

,Countr,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,2020-01-28,2020-01-29,2020-01-30,...,2020-06-21,2020-06-22,2020-06-23,2020-06-24,2020-06-25,2020-06-26,2020-06-27,2020-06-28,2020-06-29,2020-06-30
0,Afghanistan,0,0,0,0,0,0,0,0,0,...,28833,29157,29481,29640,30175,30451,30616,30967,31238,31517
1,Albania,0,0,0,0,0,0,0,0,0,...,1962,1995,2047,2114,2192,2269,2330,2402,2466,2535
2,Algeria,0,0,0,0,0,0,0,0,0,...,11771,11920,12076,12248,12445,12685,12968,13273,13571,13907
3,Andorra,0,0,0,0,0,0,0,0,0,...,855,855,855,855,855,855,855,855,855,855
4,Angola,0,0,0,0,0,0,0,0,0,...,183,186,189,197,212,212,259,267,276,284

In [13]:
# save as .csv file
df.to_csv('flurish_data.csv')